{
    "presets": ["@babel/preset-env"],
    "plugins": [
        "add-module-exports",
        [
            "component",
            {
                "libraryName": "element-ui",
                "styleLibraryName": "theme-chalk"
            }
        ]
    ]
}